<% if @stat == 0%>
    <h1>[서버상태 : OFF]</h1>
    <a href="/admin/pushbutton">[켜기]</a>
<% else %>
    <h1>[서버상태 : ON]</h1>
    <a href="/admin/pushbutton">[끄기]</a>
<% end %>

<h1><a href="/admin/index">[뒤로가기]</a></h1>