// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subjects{
        background-color: #9999ff;
        text-align: left;
        border-radius: 25px;
        margin: 2%;
        padding: 2%;
    }
.enrolled{
        border: 5px solid #3333ff;
        border-radius: 10px;
        background-color: #8080ff;
        color: white;
        width:50%;
        height:7em;
        padding: 2%;
        margin-left: 30%;
        margin-right: 30%;
    }